.popup {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.5s linear;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

/* div {
  border: 1px solid #eee;
}
div > ul {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear (тут надо 0.3s-0.7s, иначе не будет плавности, а если больше 1, то подвисает)
}
div:hover > ul {
  visibility: visible;
  opacity: 1;
}

т.е display: none заменить на visiability hidden, display flex и поправить в popup__opened visibility: visible; 
    opacity: 1;
*/