.popup__input_type_description {
    border: 0;
    justify-content: center;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}