.places__like {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-color: #fff;
    width: 22px;
    height: 19px;
    border: none;
    padding: 0 20px;
    margin: 0;
    align-self: center;
    object-fit: contain;
    transition: opacity 0.5s linear;
    cursor: pointer;
   
}

.places__like:hover {
    opacity: 0.5;
}