.places__capture {
    width: 282px;
    height: 79px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 0 21px 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    overflow: hidden;
    text-overflow: ellipsis;  /*троеточие*/
    white-space: nowrap; /*отмена переноса текста*/
    color: #000000;

}