.profile__about {
    display: flex;
    max-height: 170px;
    max-width: 470px;
    flex-wrap: wrap;
    margin-left: 20px;

}

@media screen and (max-width: 1000px) {
    .profile__about {
        max-width: 350px;
        
    }
}

@media screen and (max-width: 500px) {
    .profile__about {
        max-width: 282px;
        align-items: center;
        justify-content: center;

    }
}