.popup__input-error {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: #ff0000;
    margin-top: 4px;
    margin-bottom: 6px;
    min-height: 35px;
    box-sizing: border-box;
  
}