
.page__content {
    padding: 0 200px;
    margin: 77px 0 67px;

 
}


@media screen and (max-width: 800px) {
    .page__content {
        padding-left: 24px;
        padding-right: 24px;
         margin-bottom: 45px;
    }

}


@media screen and (max-width: 500px) {
    .page__content {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 36px;
    

    }
}