.header {
   max-width: 100%;
    display: flex;
    margin: 0 200px 0;
    border-bottom: 1px solid rgb(84, 84,87, .7);

}
@media screen and (max-width: 1000px) {
    .header {
        margin-left: 100px;
        margin-right: 100px;
    }

}

@media screen and (max-width: 800px) {
    .header {
        margin-left: 35px;
        margin-right: 35px;
    }

}


@media screen and (max-width: 500px) {
    .header {
       
       padding-right: 27px;
        padding-left: 52px;
        margin-left: 0;
        margin-right: 0;
    



    }
}