.profile__add-button {
    padding: 0;
    width: 150px;
    height: 50px;
    margin-left: auto;
    border: 2px solid #fff;
    background: url('../../../images/add_pic.svg');
    background-repeat: no-repeat;
    background-position: center;
 
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .profile__add-button {
        width: 100px;
        background: url('../../../images/ADD-button_mobile.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}


@media screen and (max-width: 600px) {
    .profile__add-button {
        width: 282px;
    }
}

