.places__img {
    width: 282px;
    height: 282px;
    object-fit: cover;
    margin: 0 0 -4px 0;
 
 
}
  
  @media screen and (max-width: 1150px) {
    .places__img {
      width: 266px;
      height: 266px;
    }
  }
  
  @media screen and (max-width: 560px) {
    .places__img {
      width: 282px;
      height: 282px;
    }
  }

  