.footer {
    max-width: 318px;
    padding: 0 200px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

}
@media screen and (max-width: 900px) {
    .footer {
    padding-left: 19px;
    max-width: 282px;

    
    }
}
